.dashboard {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
}

.tab {
    margin: auto;
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    display: block;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    overflow: auto;
}

.tab::-webkit-scrollbar {
    width: 0;
}

.tab::-webkit-scrollbar-track {
    background: #4b4b4e;
}

.tab::-webkit-scrollbar-thumb {
    background: #535058;
}

.tab-table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem auto 1rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tab-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tab-table th,
.tab-table td {
    padding: 12px 15px;
}

.tab-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tab-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tab-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tab-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.tab-title {
    width: 100%;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.tab-hr {
    width: 90%;
}

.projects, .tasks, .team {
    width: 100%;
}

@media screen and (max-width: 599px) {
    .dashboard {
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        row-gap: 1rem;
    }

    .projects {
        grid-column: 1;
        grid-row: 1;
    }
    
    .tasks {
        grid-column: 1;
        grid-row: 2;
    }
}

@media screen and (min-width: 600px) {
    .dashboard {
        grid-template-columns: repeat(2, 50% [col-start]);
        grid-template-rows: repeat(2, 50% [row-start]);
        column-gap: 1rem;
        row-gap: 0.5rem;
    }

    .projects {
        grid-column: 1;
        grid-row: 1;
    }

    .team {
        grid-column: 2;
        grid-row: 1;
    }
    
    .tasks {
        grid-column: span 2;
        grid-row: 2;
    }
}